<!doctype html>
<head>
    <title>Hello Azure - Python Quickstart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold">Citizen Caracteristics</h1>
          </div>
          <div class="col-md-6 mx-auto">
            <style>
              .offset-line {
                margin-left: 40px;
              }
            </style>
            <p class="fs-5">
                <h1 style="font-size: 18px;">Part 1: Personally Identifiable Information (PII)</h1>
                Name: {{ name }}<br>
                Service Group: {{ service }}<br>
                <span class="offset-line"> Group Description: {{ service_desc }}</span><br>
                Treason Button: {{btn_treason}}<br>
                Violence Button: {{btn_violence}}<br>
            </p>
            <p>
            <h1 style="font-size: 18px;">Part Too: Productivity Profile</h1>
            <strong>Brains: {{Brains}} <span class="offset-line"></span> Chutzpah: {{Chutzpah}} <span class="offset-line"></span> Mechanics: {{Mechanics}} <span class="offset-line"></span> Violence: {{Violence}} <span class="offset-line"></span></strong><br>
            Alpha Complex: {{Alpha}} <span class="offset-line"></span> Bluff: {{Bluff}} <span class="offset-line"></span> Demolitions: {{Demolitions}} <span class="offset-line"></span> Athletics: {{Athletics}} <span class="offset-line"></span><br>
            Bureaucracy: {{Bureaucracy}} <span class="offset-line"></span> Charm: {{Charm}} <span class="offset-line"></span> Engineer: {{Engineer}} <span class="offset-line"></span> Guns: {{Guns}} <span class="offset-line"></span><br>
            Psychology: {{Psychology}} <span class="offset-line"></span> Intimidate: {{Intimidate}} <span class="offset-line"></span> Operate: {{Operate}} <span class="offset-line"></span> Melee: {{Melee}} <span class="offset-line"></span><br>
            Science: {{Psychology}} <span class="offset-line"></span> Stealth: {{Stealth}} <span class="offset-line"></span> Program: {{Program}} <span class="offset-line"></span> Throw: {{Throw}} <span class="offset-line"></span><br>
            </p>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">Back home</a>
          </div>
     </main>      
   </body>
</html>