<!doctype html>
<head>
    <title>PPE Character Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/paranoia-friendly-eye.svg') }}" alt="Friend-Computer eye" width="192" height="192"/>
            <p class="text-center" style="opacity: 0.25;">Provided for fun by https://github.com/IntoCpp/Charlie-PCE-R</p>
            <h1 class="display-6 fw-bold text-primary">Paranoia Perfect Edition (2023) Character Generator</h1>
          </div>
        <form method="post" action="{{url_for('hello')}}">
            <div class="col-md-6 mx-auto text-center">
                <label for="action" class="form-label fw-bold fs-5">Select language and sex then press 'Generate'.</label>

                <!-- <p class="lead mb-2">Could you please tell me your name citizen?</p> -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                  
                    <select class="form-control_LANG" id="lang_combo" name="language" style="max-width: 128px;">
                        <option value="ENG">ENG</option>
                        <option value="FRA">FRA</option>
                    </select>
                    <select class="form-control_SEX" id="sex_combo" name="sex" style="max-width: 128px;">
                      <option value="M">M</option>
                      <option value="F">F</option>
                  </select>
                </div>            
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Generate</button>
                </div>
            </div>
        </form>
     </main>      
   </body>
</html>